Repository Kasperice/object-oriented-programming, pull requests merged in 2020-06, with the labels that each got.

#15 Resolves: #10 Base build and first test
  shm/.gitignore
  shm/CMakeLists.txt
  shm/CMakeLists.txt.in
  shm/cargo.cpp
  shm/cargo.hpp
  shm/coordinates.cpp
  shm/coordinates.hpp
  shm/island.cpp
  shm/island.hpp
  shm/main.cpp
  shm/map.cpp
  shm/map.hpp
  shm/player.cpp
  shm/player.hpp
  shm/ship.cpp
  shm/ship.hpp
  shm/test.cpp
Labels: Test

#11 Task 0: Ship and Cargo classes + gitignore
  shm/cargo.cpp
  shm/cargo.hpp
  shm/ship.cpp
  shm/ship.hpp
Labels: Cargo, Ship

#16 Task 4. (Map) New Class & Task 5. (Map) Add Islands
  shm/map.cpp
  shm/map.hpp
Labels: Map

#12 Task 1. (Cargo) operator== & Task 2. (Cargo) Constructor
  shm/cargo.cpp
  shm/cargo.hpp
Labels: Cargo

#13 Task 3. Island + Coordinates
  shm/coordinates.cpp
  shm/coordinates.hpp
  shm/island.cpp
  shm/island.hpp
Labels: Coordinates, Island

#18 Resolves: #7 Task6 map getisland
  shm/main.cpp
  shm/map.cpp
  shm/map.hpp
  shm/test.cpp
Labels: Map

#46 Add makefile
  shm/player.cpp
  shm/player.hpp
  shm/ship.cpp
  shm/ship.hpp
Labels: cmake

#47 Task 2.7, Task 2.8 - Makefile, podkładka pod testy
  .github/workflows/main.yml
  shm/CMakeLists.txt
  shm/cargo.hpp
  shm/coordinates.cpp
  shm/main.cpp
  shm/map.cpp
  shm/map.hpp
  shm/player.cpp
  shm/player.hpp
  shm/ship.cpp
  shm/ship.hpp
Labels: Test, cmake

#38 Main with testing class Player & Store
  shm/main.cpp
Labels: Test, enhancement
